<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OptimaAPI.Properties.Settings.CDN_SEDConnectionString"
            connectionString="Data Source=DESKTOP-0HJ6EAR\OPTIMA;Initial Catalog=CDN_SED;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>